<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" href="images/favicon.ico" />
	<title>Faculty List</title>

	<!-- semantic-ui styles -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" />
	<!-- main css -->
	<link rel="stylesheet" href="/css/faculty_list.css">
</head>

<body>

<div id="content">

	<a href="/admin_homepage" class="ui button icon labled compact" id="backButton">
		<i class="icon angle left"></i>Go Back
	</a>

	<h1 class="ui header" id="pageHeader">
		Faculty List
	</h1>

	<div class="resultContainer">

		<!-- LOOP -->
	<% if (locals.professors) {
		for (var i=0; i<professors.length; i++) {%>
			<div class="result">
				<div class="ui card">
					<div class="content">
						<a class="header"><%=professors[i].lastName%>, <%=professors[i].firstName%></a>
					</div>
			
					<div class="ui styled fluid accordion">
						<div class="title">
							<i class="dropdown icon"></i>
							Faculty Evaluation
						</div>
						<div class="content">
						<% if (professors[i].numberEvaluated > 0) {%>
							<table class="ui single line table">
								<thead>
									<tr>
										<th>Attribute</th>
										<th>Average Score</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>Approachability</td>
										<td><%=professors[i].attr.approachability / professors[i].numberEvaluated%></td>
									</tr>
									<tr>
										<td>Respect</td>
										<td><%=professors[i].attr.respect%></td>
									</tr>
									<tr>
										<td>Encouragement</td>
										<td><%=professors[i].attr.encouragement / professors[i].numberEvaluated%></td>
									</tr>
									<tr>
										<td>Fairness</td>
										<td><%=professors[i].attr.fairness / professors[i].numberEvaluated%></td>
									</tr>
									<tr>
										<td>Teaching Skills</td>
										<td><%=professors[i].attr.teaching / professors[i].numberEvaluated%></td>
									</tr>
									<tr>
										<td>Presentation</td>
										<td><%=professors[i].attr.presentation / professors[i].numberEvaluated%></td>
									</tr>
									<tr>
										<td>Mastery</td>
										<td><%=professors[i].attr.mastery / professors[i].numberEvaluated%></td>
									</tr>
									<tr>
										<td>Updated</td>
										<td><%=professors[i].attr.updated / professors[i].numberEvaluated%></td>
									</tr>
									<tr>
										<td>Consistency</td>
										<td><%=professors[i].attr.consistency / professors[i].numberEvaluated%></td>
									</tr>
									<tr>
										<td>Confidence</td>
										<td><%=professors[i].attr.confidence / professors[i].numberEvaluated%></td>
									</tr>
									<tr>
										<td>Communication Skills</td>
										<td><%=professors[i].attr.communication / professors[i].numberEvaluated%></td>
									</tr>
									<tr>
										<td>Punctuality</td>
										<td><%=professors[i].attr.punctuality / professors[i].numberEvaluated%></td>
									</tr>
									<tr>
										<td>Time Management</td>
										<td><%=professors[i].attr.timeManagement / professors[i].numberEvaluated%></td>
									</tr>
									<tr>
										<td>Class Management</td>
										<td><%=professors[i].attr.classManagement / professors[i].numberEvaluated%></td>
									</tr>
									<tr>
										<td>Asset</td>
										<td><%=professors[i].attr.asset / professors[i].numberEvaluated%></td>
									</tr>
								</tbody>
							</table>
						<%}%>
						</div>
					</div>
				</div>
			</div>
		<%}

	}%>
		
		<!-- LOOP -->

	</div>
</div> <!-- id="content" -->



<!-- ======= SEMANTIC UI SCRIPTS ========================================================================================================================== -->
<!-- jquery should be above the semantic.js due to having dependencies -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- semantic-ui javascript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>

<!-- ======= MAIN SCRIPTS ========================================================================================================================== -->
<script>
$('.ui.accordion')
  .accordion()
;



</script>




</body>
</html>