<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="shortcut icon" href="images/favicon.ico" />
	<title>iACADEMY | Student</title>

	<!-- semantic-ui styles -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.css" />
	<!-- main css -->
	<link rel="stylesheet" href="/css/student_homepage.css">
</head>

<body>

<!-- INSERT NAVBAR COMPONENT HERE -->
<link rel="stylesheet" href="/components/navbar/navbar.css">
	<div id="navBarContainer">
			<div class="ui menu inverted" id="navbar">
				<div class="item" id="Logo">
					<p id="iACADEMYLogoText">iACADEMY</p>
					<span class="facultyEvaluationLogo">Faculty Evaluation</span>
				</div>
				<a href="/student_homepage" class="item" id="redirectLink">HOME</a>
		
				<!-- Search Suggestions -->
				<div class="ui dropdown item right" tabindex="0">
					<span id="userName">
						<strong>
							<%=student.firstName%> <%=student.lastName%>
						</strong>
					</span>
					<div class="menu">
						<a href="/auth/logout" class="item">Logout</a>
				</div>
			</div>
		</div>
</div>

<div id="content">
		<!-- STUDENT CARD -->
		<div class="ui card" id="studentCard">
			<div class="content" id="classCardContent">
				<div class="header" id="courseHeader">
					<%=student.firstName%> <%=student.lastName%>
				</div>
				
				<div class="description">
					<p><%=student.ID%></p>
				</div>
			</div>
		</div>
		

		
<h1 class="header" id="cardsContainerHeader">
	Faculty Evaluation List
</h1>
<div class="cardsContainer">

	<!-- EVALUATE CARD -->
	<%
		if (locals.classes) {
			console.log(classes.length);
			for (var i=0; i<classes.length; i++) {%>
				<form action="/evaluate/<%=classes[i].professor._id%>" method="POST">
				<div class="classInstance">
					<div class="ui card" id="classCard">
						<div class="content">
							<div class="header" id="courseHeader">
								<%=classes[i].course.name%>
								<p class="cardSection"><%=classes[i].section%></p>
							</div>
							
							<div class="description">
								<p><%=classes[i].professor.firstName%> <%=classes[i].professor.lastName%></p>
							</div>
						</div>
						
						<button type="submit" class="ui button bottom attached teal">
							Evaluate
						</button>
				</form>
					</div>
				</div>
			<%}
		}
	%>
	<!-- EVALUATE CARD -->
	

</div>








</div> <!-- id="content" -->



<!-- ======= SEMANTIC UI SCRIPTS ========================================================================================================================== -->
<!-- jquery should be above the semantic.js due to having dependencies -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<!-- semantic-ui javascript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.3.1/semantic.min.js"></script>

<!-- ======= MAIN SCRIPTS ========================================================================================================================== -->
<script>
$('.ui.accordion')
  .accordion()
;

$('.ui.dropdown')
	.dropdown()
;
</script>

</script>




</body>
</html>