<div class="result">
        <div class="ui card">
    
            <div class="content">
                <div class="header" id="courseHeader">
                    <%= classes[i].course.name%>>
                    <p class="cardSection">SECTION</p>
                </div>
                
                <div class="description">
                    <p><%= classes[i].course.code %>></p>
                </div>
            </div>
    
            <div class="ui styled fluid accordion">
                <div class="title">
                    <i class="dropdown icon"></i>
                    Show Details
                </div>
                <div class="content">
                    <p class="transition hidden">Units: <strong><%= classes[i].course.units %></strong></p>
                    <p class="transition hidden">Day: <strong><%= classes[i].schedule.day %></strong></p>
                    <p class="transition hidden">Time: <strong><%= classes[i].schedule.time %></strong></p>
                    <p class="transition hidden">Room: <strong><%= classes[i].schedule.room %></strong></p>
                    <p class="transition hidden">Faculty: <strong><%= classes[i].professor.firstName %> <%= classes[i].professor.lastName %></strong></p>
                </div>
                
            </div>
        </div>
</div>